.App {
  display: flex;
  place-items: center;
  justify-content: center;
  min-height: 100vh;
}

.facet-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background: rgb(61, 61, 61);
  width: min-content;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.445);
  color: rgb(245, 245, 245);
}

.facet-head {
  display: flex;
  flex-direction: row;
  place-items: center;
  justify-content: space-between;
}

.facet-box {
  display: grid;
  height: 100px;
  grid-template-areas: 
  "image  name  hammer"
  "image  slots  hammer";
  grid-template-columns: 100px auto 100px;
  grid-template-rows: 1fr 3fr;
  margin-bottom: 1rem;
  border: 1px solid black;
  text-align: center;
}

.facet-image {
  grid-area: image;
  width: 100%;
  height: 100%;
}

.facet-box .name {
  grid-area: name;
  margin: 0;
  font-size: smaller;
  padding: 0.4rem;
}

.slots {
  grid-area: slots;
  display: flex;
  flex-direction: row;
  place-items: center;
  gap: 1rem;
  justify-content: center;
  padding: 0.5rem;
}

.slot {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  transform: rotate(45deg);
}

.hammer {
  grid-area: hammer;
  transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: none;
  display: flex;
  place-items: center;
  justify-content: center;
  
}

.hammer:hover {
  cursor: pointer;
}

.hammer img {
  height: 40%;
  transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  
}

@media(min-width: 800px) {
  .hammer:hover img {
    transform: rotate(40deg) translateY(-20px);
  }
  
  .hammer:active img {
    transition: transform 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: rotate(0) translateY(0)
  }
}



@media(max-width: 800px) {

  .facet-wrapper {
    max-width: 90vw;
    width: 90vw;
    height: auto;
    position: relative;
  }
  .facet-box {
    position: relative;
    width: 100%;
    display: grid;
    height: 80px;
    grid-template-areas: 
    "name  hammer"
    "slots  hammer";
    grid-template-columns: auto 100px;
    grid-template-rows: 20px auto;
    margin-bottom: 1rem;
    border: 1px solid black;
    text-align: center;
    place-items: center;
  }

  .hammer {
    transform: scale(0.5);
  }

  .facet-image {
    display: none;
  }
  .slots {
    transform: scale(0.7);
  }
}